<% content_for :content do %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Créer un animal</h2>
  </div>
  <div class="panel-body">
    <%= render 'form', pet: @pet %>
  </div>
</div>
<% end %>

<%= render template: 'layouts/profile' %>
