<% content_for :tab, :profile, :flush => true %>
<% content_for :content do %>
  <h1>Mon profil</h1>
  <%= render 'form', user: @user, url: profile_path %>
<% end %>

<%= render template: 'layouts/profile' %>


